:root {

    --font-main: 'Comic Sans MS', cursive, sans-serif;
    --amber: #ffbe0bff;
    --orange-pantone: #fb5607ff;
    --rose: #ff006eff;
    --blue-violet: #8338ecff;
    --azure: #3a86ffff;
    --prussian-blue: #003049ff;
    --fire-engine-red: #d62828ff;
    --orange-wheel: #f77f00ff;
    --xanthous: #fcbf49ff;
    --vanilla: #eae2b7ff;
    --amethyst: #9b5de5ff;
    --brilliant-rose: #f15bb5ff;
    --maize: #fee440ff;
    --deep-sky-blue: #00bbf9ff;
    --aquamarine: #00f5d4ff;

}

header {
    background: var(--blue-violet);
    color: white;
    padding: 12px 0 8px 0;
    border-bottom: 2px solid var(--rose);
    text-align: center;

}
h1, h2, h3 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    margin: 0.5em 0;
    text-align: center;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: var(--amber);
    color: black;
    margin: 0;
    padding: 0;
}

#start-button {
        background-color: var(--rose); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%; 
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
        transition-duration: 0.4s;
}
#start-button:hover {background-color: var(--azure); /* Green */
        color: white;
}
/* 
option-a {
        background-color: var(--azure);  Color de fondo 
        border-radius: 20px;  Curva en la esquina de los botones 
        text-transform: uppercase; Mayusculas 
        color:  white;  Color del texto 
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
        transition-duration: 0.4s;
}
#option-a:hover {background-color: var(--maize);  Green 
        color: white;
}        

#option-b {
        background-color: var(--azure);  Color de fondo 
        border-radius: 20px;  Curva en la esquina de los botones 
        text-transform: uppercase;  Mayusculas 
        color:  white;  Color del texto 
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
        transition-duration: 0.4s;
}
#option-b:hover {background-color: var(--aquamarine);  Green 
        color: white;
}
#option-c {
        background-color: var(--azure);  Color de fondo 
        border-radius: 20px;  Curva en la esquina de los botones 
        text-transform: uppercase;  Mayusculas 
        color:  white;  Color del texto 
        width: 200px;
        height: 50px;  
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
        transition-duration: 0.4s;  
}
#option-c:hover {background-color: var(--brilliant-rose);  Green 
        color: white;
}
#option-d {
        background-color: var(--azure);  Color de fondo 
        border-radius: 20px;  Curva en la esquina de los botones 
        text-transform: uppercase;  Mayusculas 
        color:  white;  Color del texto 
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
        transition-duration: 0.4s;   
} 
*/

.option {
        background-color: var(--azure); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;   
        transition-duration: 0.4s; 
}

.option:hover {background-color: var(--brilliant-rose); /* Green */
        color: white;
}

#playAgain {
        background-color: var(--azure); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
}
  
#option-d:hover {background-color: var(--fire-engine-red); /* Green */
        color: white;
}
#next {
        background-color: var(--rose); /* Color de fondo */
        border-radius: 50px; /* Curva en la esquina de los botones */

        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 0px;
        margin-bottom: 5px;
        transition-duration: 0.4s;
}
#next:hover {background-color: var(--prussian-blue); /* Green */
        color: white;
}

#playAgain {background-color: var(--rose); /* Color de fondo */
        border-radius: 50px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 0px;
        margin-bottom: 5px;
        transition-duration: 0.4s;
}
#playAgain:hover {background-color: var(--prussian-blue); /* Green */
        color: white;
}

#question-counter {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

footer {
    background: var(--blue-violet);
    color: white;
    text-align: center;
    padding: 1px 0;
    font-size: 0.80em;
    border-top: 2px solid var(--rose);
    margin-top: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 2000px) {
    header {
        font-size: 3.5rem;
        padding: 10px 0;
    }

    h1, h2, h3 {
        font-size: 2.5rem;
    }
    
    body {
        padding-bottom: 60px;
    }

    #start-button  {
        font-size: 1.8rem;
        width: 300px;
        height: 70px;
    }
    #option-a {
        font-size: 1.8rem;
        width: 300px;
        height: 70px;
    }
    #option-b {
        font-size: 1.8rem;
        width: 300px;
        height: 70px;
    }
    #option-c {
        font-size: 1.8rem;
        width: 300px;
        height: 70px;
    }
    #option-d {
        font-size: 1.8rem;
        width: 300px;
        height: 70px;
    }
    #next {
        font-size: 1.8rem;
        width: 300px;
        height: 70px;
    }
    
}

@media screen and (max-width: 768px) {
    header {
        font-size: 2.5rem;
        padding: 10px 0;
    }

    h1, h2, h3 {
        font-size: 1.8rem;
    }
    
    body {
        padding-bottom: 60px;
    }

    #start-button  {
        font-size: 1.2rem;
        width: 250px;
        height: 60px;
    }
    #option-a {
        font-size: 1.2rem;
        width: 250px;
        height: 60px;
    }
    #option-b {
        font-size: 1.2rem;
        width: 250px;
        height: 60px;    
    }
    #option-c {
        font-size: 1.2rem;
        width: 250px;
        height: 60px;
    }
    #option-d {
        font-size: 1.2rem;
        width: 250px;
        height: 60px;
    }
        #next {
        font-size: 1.2rem;
        width: 250px;
        height: 60px;
    }
}
@media screen and (max-width: 320px) {
    header {
        font-size: 1.8rem;
        padding: 10px 0;
    }

    h1, h2, h3 {
        font-size: 1.3rem;
    }
    
    body {
        padding-bottom: 60px;
    }

    #start-button  {
        font-size: 1.0rem;
        width: 200px;
        height: 50px;
    }
    #option-a {
        font-size: 1.0rem;
        width: 200px;
        height: 50px;
    }
    #option-b {
        font-size: 1.0rem;
        width: 200px;
        height: 50px;
    }
    #option-c {
        font-size: 1.0rem;
        width: 200px;
        height: 50px;
    }
    #option-d {
        font-size: 1.0rem;
        width: 200px;
        height: 50px;
    }
    #next {
        font-size: 1.0rem;
        width: 200px;
        height: 50px;
    }
}
