:root {

    --font-main: 'Comic Sans MS', cursive, sans-serif;
    --amber: #ffbe0bff;
    --orange-pantone: #fb5607ff;
    --rose: #ff006eff;
    --blue-violet: #8338ecff;
    --azure: #3a86ffff;

}

header {
    background: var(--blue-violet);
    color: white;
    padding: 12px 0 8px 0;
    border-bottom: 2px solid var(--rose);
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    margin: 0.5em 0;
    text-align: center;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: var(--amber);
    color: black;
    margin: 0;
    padding: 0;
}

#start-button {
        background-color: var(--azure); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
}

#option-a {
        background-color: var(--azure); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
}

#option-b {
        background-color: var(--azure); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
}

#option-c {
        background-color: var(--azure); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;  
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;  
}

#option-d {
        background-color: var(--azure); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;    
}

#playAgain {
        background-color: var(--azure); /* Color de fondo */
        border-radius: 20px; /* Curva en la esquina de los botones */
        text-transform: uppercase; /* Mayusculas */
        color:  white; /* Color del texto */
        width: 200px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        margin-bottom: 5px;
}


footer {
    background: var(--blue-violet);
    color: white;
    text-align: center;
    padding: 1px 0;
    font-size: 0.80em;
    border-top: 2px solid var(--rose);
    margin-top: 2px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}