:root {

    --font-main: 'Comic Sans MS', cursive, sans-serif;
    --amber: #ffbe0bff;
    --rose: #ff006eff;
    --blue-violet: #8338ecff;
    --azure: #3a86ffff;
    --prussian-blue: #003049ff;
    --brilliant-rose: #f15bb5ff;
    --white: #FFfFFF; 
}

/*-----ENCABEZADO Y TITULOS------*/

header {
    background: var(--blue-violet);
    color: var(--white);
    padding: 12px 0 8px 0;
    border-bottom: 2px solid var(--rose);
    text-align: center;

}
h1, h2, h3, h4 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: var(--white);
    margin: 0.5em 0;
    text-align: center;
}

/*-------BODY-------*/

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: var(--amber);
    color: var(--white);
    text-align: center;
    margin: 0;
    padding: 0;
}

/*----------BOTONES---------*/

#start-button {
        background-color: var(--rose);
        border-radius: 50px;
        text-transform: uppercase;
        color: var(--white);
        width: 200px;
        height: 50px;
        margin: 0 0 5px 0;
        transition-duration: 0.4s;

}
#start-button:hover {background-color: var(--azure);
        color: var(--white);
}

#opciones-rta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.option {
       background-color: var(--rose);
        border-radius: 50px;
        text-transform: uppercase;
        color: var(--white);
        width: 200px;
        height: 50px;
        margin: 0 0 5px 0;
        transition-duration: 0.4s;
        white-space: normal;  /* estas 3 evitan que el texto desborde */
        overflow-wrap: break-word;
        text-overflow: unset;
}

.option:hover {background-color: var(--brilliant-rose);
        color: var(--white);
}

#siguiente {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#next {
       background-color: var(--rose);
        border-radius: 50px;
        text-transform: uppercase;
        color: var(--white);
        width: 200px;
        height: 50px;
        margin: 0 0 5px 0;
        transition-duration: 0.4s;
}

#next:hover {background-color: var(--prussian-blue);
        color: var(--white);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#playAgain {
        background-color: var(--rose);
        border-radius: 50px;
        text-transform: uppercase;
        color: var(--white);
        width: 200px;
        height: 50px;
        margin: 0 0 5px 0;
        transition-duration: 0.4s;
        
}
#playAgain:hover {background-color: var(--prussian-blue); /* Green */
        color: var(--white);
}

#home {
        background-color: var(--rose);
        border-radius: 50px;
        text-transform: uppercase;
        color: var(--white);
        width: 200px;
        height: 50px;
        margin: 0 0 5px 0;
        transition-duration: 0.4s;
}
#home:hover {background-color: var(--prussian-blue); /* Green */
        color: var(--white);
}

#routes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#question-counter {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

/*--------------FOOTER----------*/

footer {
    background: var(--blue-violet);
    color: var(--white);
    text-align: center;
    padding: 1px 0;
    font-size: 0.80em;
    border-top: 2px solid var(--rose);
    margin-top: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*-------------RESPONSIVE SCREEN-------------*/

@media screen and (min-width: 1500px) {
    header {
        font-size: 3.5rem;
        padding: 10px 0;
    }

    h1, h2, h3, h4 {
        font-size: 2.5rem;
    }
    
    body {
        padding-bottom: 60px;
    }

    #start-button, .option, #next, #playAgain, #home {
        font-size: 1.8rem;
        width: 300px;
        height: 70px;
    } 
}

@media screen and (min-width: 768px) {
    header {
        font-size: 2.5rem;
        padding: 10px 0;
    }

    h1, h2, h3, h4 {
        font-size: 1.8rem;
    }
    
    body {
        padding-bottom: 60px;
    }

    #start-button, .option, #next, #playAgain, #home {
        font-size: 1.2rem;
        width: 250px;
        height: 60px;
    }
}
@media screen and (min-width: 320px) {
    header {
        font-size: 1.8rem;
        padding: 10px 0;
    }

    h1, h2, h3, h4 {
        font-size: 1.3rem;
    }
    
    body {
        padding-bottom: 60px;
    }

    #start-button, .option, #next, #playAgain, #home {
        font-size: 1.0rem;
        width: 200px;
        height: 50px;
    }
}